/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&family=Poppins:wght@300;400;500&display=swap');

body, html {
  height: 100%;
  background: #F7FAF6;
}


/* Global Styles */
h1 { 
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 4em;
}

h2 {
  font-size: 1.25em;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

p {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

label {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#highlight {
  color: #6B705C;
}


/* Contents::
  1. Header 
  2. Prompt
*/

/* 1. Header */
.header {
  height: 500px;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  background: url('components/header-background.png');
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-btn {
  width: auto;
  height: 35px;
  background: #6B705C;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
  outline: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  padding: 0 3vw 0 3vw;
  margin-top: 1vh;
}

/* 2. Prompt */ 
.prompt-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
}

.prompt-header {
  height: auto;
  display: flex; 
  justify-content: center;
  text-align: center;
}

.prompt-wrapper h3 {
  margin-top: 5vh;
}

.prompt-form {
  margin-top: 2.5vh;
}
.prompt-input {
  height: 200px;
  width: 100%;
  background: #F2F3EC;
  border-radius: 10px;
  border: none;
  margin-top: 0.5vh;
}

.prompt-input::placeholder {
  padding: 1vh 0 0 1vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
