/* Google Fonts */

body, html {
  height: 100%;
  background: #F7FAF6;
}


/* Global Styles */
h1 { 
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 4em;
}

h2 {
  font-size: 1.25em;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}


/* Contents::
  1. Header 
*/

/* 1. Header */
.header {
  height: 500px;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  background: url('components/header-background.png');
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-btn {
  width: auto;
  height: 35px;
  background: #6B705C;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
  outline: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  padding: 0 3vw 0 3vw;
  margin-top: 1vh;
}