/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500&family=Poppins:wght@300;400;500&display=swap');

body, html {
  height: 100%;
  background: #F7FAF6;
}


/* Global Styles */
h1 { 
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 4em;
}

h2 {
  font-size: 1.25em;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

p {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

label {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#highlight {
  color: #6B705C;
}


/* Contents::
  1. Header 
  2. Prompt
  3. Responses
*/

/* 1. Header */
.header {
  height: 500px;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  background: url('components/header-background.png');
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta-btn {
  display: block;
  width: auto;
  height: 35px;
  background: #6B705C;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
  outline: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  padding: 0 3vw 0 3vw;
  margin-top: 1vh;
}

.select-btn {
  display: block;
  width: auto;
  height: auto;
  background: #6B705C;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
  outline: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  padding: 0.7vh 1vw 0.75 1vw;
  font-size: 1em;
}

/* 2. Prompt */ 
.prompt-wrapper {
  display: flex;
  justify-content: center;
}
.prompt-wrapper h3 {
  text-align: center;
  margin-top: 5vh;
}
.prompt {
  width: auto;
  height: auto;
}

.prompt-form {
  margin-top: 2.5vh;
}
.prompt-input {
  height: 200px;
  width: 35vw;
  background: #F2F3EC;
  border-radius: 10px;
  border: none;
  padding: 1vh 0 0 1vw;
  margin-top: 0.5vh;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

.prompt-input:focus {
  outline: 2px solid 6B705C;
}

.prompt-input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

/* 3. Resposnes */

.responses-wrapper {
  width: 35vw;
  margin: 0 auto;
  margin-top: 10vh;
  padding-bottom: 10vh;
}

.responses {
  display: flex;
  justify-content: center;
}

.response {
  height: auto;
  width: 100%;
  background: #F2F3EC;
  border-radius: 10px;
  border: none;
  margin: 2.5vh 0 1vh 0;
  padding: 2vh 1vw 2vh 1vw;
}

.response p {
  margin: 0.25vh;
}


@media only screen and (max-width: 600px) {
  /* Increasing size of prompt text area and response div on mobile devices to take up a greater width */
  .prompt-input, .responses-wrapper {
    width: 75vw
  }
}